html,
body {
	width: 100%;
	font-family: "微软雅黑";
}

#quan {
	/*background: linear-gradient(#ff6600,#990000);*/
	background-color: #bad0ed;
	width: 100%;
	height: 100%;
	max-width: 640px;
	/*text-align: center;*/
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#first {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#leftblock {
	position: relative;
	z-index: 10;
	top: 50%;
	left: 0;
	margin-top: 50%;
}

#rightblock {
	background-color: #9bbb59;
	width: 40%;
	height: 100%;
	/*z-index: 10;*/
	position: absolute;
	right: 0;
	top: 0;
}

#title {
	background-color: #4f81bd;
	color: #000;
	z-index: 10000;
	font-size: 3.2rem;
	/*word-spacing:80px;*/
	/*字间距*/
	letter-spacing: 40px;
	padding: 10px 20px;
	width: 80%;
	text-align: center;
	border: 1px solid #fff;
}

#hao {
	width: 55%;
	opacity: 0;
}

#name {
	color: #fff;
	font-size: 1.6rem;
	position: absolute;
	left: 0;
	top: -100px;
	/*opacity: 0;*/
}

#fengmian {
	/*position: relative;*/
}


/*简历页*/

h2 {
	background-color: #0070c0;
	color: #fff;
	font-size: 1.6rem;
	text-align: center;
	padding: 5px;
	width: 90%;
	margin: 10px auto;
	border: 1px solid blue;
}

#contain {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.xin {
	margin: 20px 20px;
}

.xin p,
.xin li {
	font-size: 1.4rem;
	/*margin: 5px;*/
}

#tou {
	position: absolute;
	width: 15%;
	right: 10%;
	top: 10%;
}

h3 {
	border-left: 3px solid #0070c0;
	background-color: #dbe5f0;
	color: #0070c0;
	padding: 3px 10px;
	font-size: 1.4rem;
}

h4 {
	font-size: 2.6rem;
}
#next {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 32px;
	transform-style: preserve-3d;
	-webkit-animation: more .5s ease-out infinite alternate;
	animation: more .5s ease-out infinite alternate;
}

@keyframes more{
	from{bottom: 0;}
    to{bottom: 10px; }
}
body{background-color: #F1F1F1}
.demo{
    padding: 3em 0;
}
.box{
    position: relative;
    perspective: 1000px;
}
.box .box-img{
    transform: rotateY(0);
    transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-img{
    transform: rotateY(-90deg);
}
.box .box-img img{
    width: 100%;
    height: auto;
}
.box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
}
.box:hover .box-content{
    transform: rotateY(0);
}
.box .title{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.box .description{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.box .title:after,
.box .description:after{
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto;
}
.box .social-links{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box .social-links li{
    display: inline-block;
    margin: 0 10px;
}
.box .social-links li a{
    font-size: 20px;
    color: #a6a6a6;
}
.box .social-links li a:hover{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width: 990px) {
    .box{  margin-bottom:20px; }
}
@media only screen and (max-width: 479px) {
    .box .box-content{ padding: 20px; }
}